name: Generate PlantUML

on:
  push:
    paths:
      - '**/*.puml'   
  workflow_dispatch:  

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Generate PlantUML diagrams
        uses: grassedge/generate-plantuml-action@v1.5
        with:
          path: .   
          message: "Criando .svg do UML"
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}